/**********************************/
/* style  of Header Image Menu*****/
/**********************************/
#header-image-menu{
  top:10px;
  position:relative;
}
#header-image-menu img{
  width:100%;
  margin:none;
  padding:none;
}
image-text{
 position:absolute; 
 top:60%;
 left:60%;
 font-family:'Roboto';
 color:#000;
 transform:translate(-30%,-30%);
 text-align:center;
}
div div img{
  height:100px;
  width:200px;
}
#girish{
  height:300px;
  width:200px;
}


#welcome{
  text-align:center;
  overflow:hidden;
  width:1000px;
  margin:0px;
}
#welcome.title{
  margin-top:20px;
  padding:20px;
  text-align:center;
}
#welcome p{
  margin-bottom:40px;
  text-align:center;
}

#section-2{
  overflow:hidden;
  margin-top:5em;
  padding-top:1em;
  border-top:10px solid rgba(0,0,0,0.2);
  text-align:center;
}
.row #column1,
.row #column2,
.row #column3{
  float:left;
  width:320px;
  padding:80px 0px 80px 0px;
}
.column-title h2{
  margin:1em 0em;
  font-size:1.6em;
  font-weight:700;
}
.button{
  text-decoration:none;
  text-align:center;
  display:inline-block;
  font-size:16px;
  background-color:#89CA19;
  color:white;
  border:2px solid #89CA19;
  padding:16px 32px;
  margin:4px 2px;
  -webkit-transition-duration:0.4s; /*safari*/
  transition-duration: 0.4s;
  cursor:pointer;
}
.button:hover{
  background-color:#00D62E;
  color:#000000;
}


#section-3{
  overflow:hidden;
  padding-top:5em;
  border-top:1px solid rgba(0,0,0,0.2);
  text-align:center;
}
.image{
  display:inline-block;
  border:1px solid rgba(0,0,0,0.5);
  border-radius:5px;
}
.image img{
  display:block;
  width:100%;
}
.image-fill{
  display:block;
  width:100%;
  margin:0 0 3em 0;
}
.img-title{
  display:block;
  padding-bottom:1em;
  font-size:1em;
  color:rgba(0,0,0,0.6);
}
#column21
#column22
#column23
#column24{
  width:282px;
  text-align:center;
}
#column21
#column22
#column23
#column24{
  width:282px;
  text-align:center;
}
#column21
#column22
#column23
#column24{
  float:left;
  margin:auto 25px;
}

/* yea ab footer ka raj hai */
.company-details{
  overflow:hidden;
  padding:3em 0em;
  background:#02FFC2;
  text-align:center;
  margin-top:5em;
}
#footer #col1,
#footer #col2,
#footer #col3{
  float:left;
  width:320px;
  padding:0px 40px 0px 40px;
}
#footer #icon{
  display:block;
  margin-bottom:1em;
  font-size:3em;
} 
.copyright{
  overflow:hidden;
  padding:3em 0em;
  border-top:20px solid rgba(255,255,255,0.08);
  text-align:center;
  background:#8F02FF;
}
.copyright p{
  letter-spacing:1px;
  font-size:0.90em;
  color:rgba(255,255,255,0.6);
  
}
copyright a{
  text-decoration:none;
  color:rgba(255,255,255,0.8);
}
ul.contact{
  margin:0;
  padding:2em 0em 0em 0em;
  list-style:none;
}
ul.contact li{
  display:inline-block;
  padding:0em 0.10em;
  font-size:1em;
}
ul.contact li a{
  color:#1C3209;
  display:inline-block;
  background:#58B409;
  width:50px;
  height:30px;
  line-height:30px;
  text-align:center;
}
